<!-- uk-breadcrumb -->
<ul class="px-2 s:p-0 uk-float-left uk-breadcrumb">
	<li><a href="index.html">首頁</a></li>
	{{#if breadcrumb1}}
	{{#if breadcrumbLinkOn}}
	<li><a href="{{breadcrumbLink}}">{{breadcrumbLinkTxt}}</a></li>
	{{else}}
	<li><span>{{breadcrumbLinkTxt}}</span></li>
	{{/if}}
	{{/if}}
	{{#if breadcrumb2}}
	{{#if breadcrumbLink2On}}
	<li><a href="{{breadcrumbLink2}}">{{breadcrumbLink2Txt}}</a></li>
	{{else}}
	<li><span>{{breadcrumbLink2Txt}}</span></li>
	{{/if}}
	{{/if}}
	<li><span>{{breadcrumbCurrent}}</span></li>
</ul>
<!-- uk-breadcrumb -->